$gray-300: #dee2e6;
$gray-800: #303030;
$red: #9D1717;
$primary: $red;
$enable-rounded: false;
$enable-responsive-font-sizes: true;
$body-bg: $gray-300;
$card-border-color: $gray-800;
$btn-box-shadow: none;
$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$pagination-focus-box-shadow: none;
